<!DOCTYPE>
<html style="background-color: khaki;">
    <head>
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>Git Testing</title>
        <link href="style.css" rel="stylesheet">

    </head>
    <body>
        <form action="/page2">
            <button type="submit"> page2 </button>
        </form>
        <h1>
            Testing text
        </h1>
        <h1>
            Testing text
        </h1>
        <h1>
            Testing text
        </h1>
        <h1>
            Testing text
        </h1>
        <h1>
            Testing text
        </h1>
        <p contenteditable="true">Hello my name is ibrahim</p>
        <p>Testing branching</p>



        <div style="border:2px dotted blue; color:red; font-family:fantasy;">
            cascade test1
            <div class="child">
                cascade test2
                <h1 class="child">
                    cascade test3
                    <p class="child">
                        cascade test4
                    </p>
                </h1>
            </div>
        </div>
     </body>
</html>